nav{
  font-size: 20px;
  background: black;
  padding: 5px;
  text-decoration: none;
}
nav a{
  color: white;
  margin-left: 50px;
}
.nav-div a:hover{
  color: gold;
}
.search{
  background: rgb(58, 52, 52);
  padding: 20px;
}
.search input{
  width: 1000px;
  height: 40px;
  padding: 10px;
  position: relative;
  left: 180px;
}